body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
#divelementone{
 
    width: 200px;
    background-color: aqua;
    text-align: center;
    padding: 40px;
    margin: 20px auto;
    font-weight: bold;
    color: white;

}
button{
    background-color: red;
    margin: 20px auto;
    color: white;
    width: 150px;
    height: 70px;
    border: none;
    padding: 20px auto;
}